name: frontend  # This should match the import
description: WellNexus Healthcare App
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  provider: ^6.1.1
  shared_preferences: ^2.2.2
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

 # Add this assets section
  assets:
    - assets/images/logo.png
    # Add more images here if needed
    # - assets/images/logo_white.png
    # - assets/images/background.jpg